section {
  height: 500px;
  background-color: #eee;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
#header {
  position: fixed;
  margin: 15px;
  padding: 5px;
}
.nav-link {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  text-decoration: none;
}

.nav-link:first-child {
  margin-left: 10px;
}

.nav-link:hover {
  background-color: #efe;
}

@media(min-width: 2250px:) {
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  width: 750px;
}